<footer id="footer" class="footer mt-auto style_3">
  <div class="container footer-top">
    <div class="col">
      <p class="lead text-center"></p>
      <div class="row">
        <div class="col-12">
          <div class="footer-logo text-center">
            <a href="/">
              <img src="../../../content/images/logo-cofincafe.png" alt="COFINCAFE" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright text-center">
    <div class="container">
      <div class="copyright-wrap">
        COFINCAFE 2021 - Cooperativa de Ahorro y Crédito Cafetera -
        <a href="mailto:info@cofincafe.com" target="_blank"> info@cofincafe.com</a>
      </div>
    </div>
  </div>
</footer>
