<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-visitantes-heading"
        data-cy="VisitantesCreateUpdateHeading"
        jhiTranslate="controlVisitantesCofincafeApp.visitantes.home.createOrEditLabel"
      >
        Crear o editar Visitantes
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="controlVisitantesCofincafeApp.visitantes.identificacion" for="field_identificacion"
            >Identificacion</label
          >
          <input
            type="text"
            class="form-control"
            name="identificacion"
            id="field_identificacion"
            data-cy="identificacion"
            formControlName="identificacion"
            onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
            required="true"
            autofocus=""
            maxlength="10"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="controlVisitantesCofincafeApp.visitantes.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" required />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="controlVisitantesCofincafeApp.visitantes.apellido" for="field_apellido">Apellido</label>
          <input
            type="text"
            class="form-control"
            name="apellido"
            id="field_apellido"
            data-cy="apellido"
            formControlName="apellido"
            required
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="controlVisitantesCofincafeApp.visitantes.telefono" for="field_telefono">Telefono</label>
          <input
            type="text"
            class="form-control"
            name="telefono"
            id="field_telefono"
            data-cy="telefono"
            formControlName="telefono"
            onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
            autofocus=""
            required="true"
            maxlength="10"
          />
        </div>
        <hr class="bg-danger" />
        <div class="row mb-3" *ngIf="pisos && pisos.length > 0">
          <label jhiTranslate="controlVisitantesCofincafeApp.visitantes.pisoVisitado">Piso Visitado</label>
          <select
            id="field_pisoVisitado"
            data-cy="pisoVisitado"
            class="form-control"
            id="field_pisoVisitado"
            name="pisoVisitado"
            formControlName="pisoVisitado"
            (change)="cambioArea($event.target.value)"
            required
          >
            <option *ngFor="let pisoVisitado of pisos" [value]="pisoVisitado">{{ pisoVisitado }}</option>
          </select>
        </div>

        <div class="row mb-3" *ngIf="areas && areas.length > 0">
          <label jhiTranslate="controlVisitantesCofincafeApp.visitantes.areaVisitada">Area Visitada</label>
          <select
            id="field_areaVisitada"
            data-cy="areaVisitada"
            class="form-control"
            id="field_areaVisitada"
            name="areaVisitada"
            formControlName="areaVisitada"
            required
          >
            <option *ngFor="let areaVisitada of areas" [value]="areaVisitada">{{ areaVisitada }}</option>
          </select>
        </div>

        <div class="row mb-3" *ngIf="equipos && equipos.length > 0">
          <label jhiTranslate="controlVisitantesCofincafeApp.visitantes.equipo">Equipo</label>
          <select
            id="field_equipo"
            data-cy="equipo"
            class="form-control"
            id="field_equipo"
            name="equipo"
            formControlName="equipo"
            (change)="cambioEquipo($event.target.value)"
            required
          >
            <option *ngFor="let equipo of equipos" [value]="equipo">{{ equipo }}</option>
          </select>
        </div>

        <div id="info" class="informacionEquipo">
          <div class="row mb-3" id="form-nombre-equipo">
            <label class="form-label" jhiTranslate="controlVisitantesCofincafeApp.visitantes.nombreEquipo" for="field_nombre_equipo"
              >Nombre Equipo</label
            >
            <input
              type="text"
              class="form-control"
              name="nombreEquipo"
              id="field_nombre_equipo"
              data-cy="nombreEquipo"
              formControlName="nombreEquipo"
            />
          </div>

          <div class="row mb-3" id="form-marca-equipo">
            <label class="form-label" jhiTranslate="controlVisitantesCofincafeApp.visitantes.marcaEquipo" for="field_marca_equipo"
              >Marca equipo</label
            >
            <input
              type="text"
              class="form-control"
              name="marcaEquipo"
              id="field_marca_equipo"
              data-cy="marcaEquipo"
              formControlName="marcaEquipo"
            />
          </div>

          <div class="row mb-3" id="form-serial-equipo">
            <label class="form-label" jhiTranslate="controlVisitantesCofincafeApp.visitantes.serialEquipo" for="field_serial_equipo"
              >Serial del computador</label
            >
            <input
              type="text"
              class="form-control"
              name="serialEquipo"
              id="field_serial_equipo"
              data-cy="serialEquipo"
              formControlName="serialEquipo"
            />
          </div>
        </div>

        <hr class="bg-danger" />
        <div class="row mb-3" id="form-serial-tarjeta">
          <label class="form-label" jhiTranslate="controlVisitantesCofincafeApp.visitantes.serialTarjeta" for="field_serial_tarjeta"
            >Serial tarjeta prestada</label
          >
          <input
            type="text"
            class="form-control"
            name="serialTarjeta"
            id="field_serial_tarjeta"
            data-cy="serialTarjeta"
            formControlName="serialTarjeta"
            required
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="controlVisitantesCofincafeApp.visitantes.observaciones" for="field_observaciones"
            >Observaciones</label
          >
          <input
            type="text"
            class="form-control"
            name="observaciones"
            id="field_observaciones"
            data-cy="observaciones"
            formControlName="observaciones"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
